@model UsuarioModel
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h5 class="card-header">Crear Usuario</h5>
    <div class="card-body">
        <form asp-action="Guardar" asp-controller="Usuario" method="post">
            <div class="container-sm">
                <div class="row g-3 align-items-center">
                    <div class="col">
                        <label class="col-form-label">DNI:</label>
                    </div>
                    <div class="col">
                        <input type="number" asp-for="Dni" class="form-control">
                        <span asp-validation-for="Dni" class="text-danger"></span>
                    </div>
                </div>

                <div class="row g-3 align-items-center mt-2">
                    <div class="col">
                        <label class="col-form-label">NOMBRE:</label>
                    </div>
                    <div class="col">
                        <input type="text" asp-for="Nombre" class="form-control">
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>

                <div class="row g-3 align-items-center mt-2">
                    <div class="col">
                        <label lass="col-form-label">FECHA:</label>
                    </div>
                    <div class="col">
                        <input type="date" asp-for="Fecha" class="form-control">
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>
                </div>

                <div class="row g-3 align-items-center mt-2">
                    <div class="col">
                        <label class="col-form-label">SUELDO:</label>
                    </div>
                    <div class="col">
                        <input type="number" asp-for="Sueldo" class="form-control">
                        <span asp-validation-for="Sueldo" class="text-danger"></span>
                    </div>
                </div>

                <div class="row g-3 mt-3 justify-content-center">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">GRABAR</button>
                    </div>
                    <div class="col-auto">
                        <a asp-action="Listar" asp-controller="Usuario" class="btn btn-danger">CANCELAR</a>
                    </div>
                </div>
            </div>

            
        </form>
    </div>
</div>

